<!-- Navigation -->
<nav class="navigation-bar">
  <a href="/" class="nav-logo-title-container">
    <img class="marketplace-logo" src="/images/Marketplace-logo.png" alt="The marketplace logo that looks like a small, rounded M">
    <h2 class="marketplace-title">Marketplace</h2>
  </a>
  <div class="nav-links-container">
    <a class="nav-link" href="/view-all-products">View All Products</a>
    <a class="nav-link" href="/profile">User Profile</a>
    <a class="register-link" href="/admin">Admin Profile</a>
  </div>
  <!-- Hamburger Menu -->
  <svg class="hamburger-menu" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
</nav>
