/*
*
* footer.css
*
*/

.footer-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #495579;
  margin-top: auto;
}

.nav-logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;

}

a {
  text-decoration: none;
}

.marketplace-logo {
  width: 50px;
  height: 50px;
}

.marketplace-title {
  font-size: 1.5em;
  color: #FFFBEB;
  margin-left: 10px;
  font-weight: 600;
}

.footer-links-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}

.footer-text {
  color: #FFFBEB;
  text-decoration: none;
  font-weight: 600;
}

.git-logo {
  fill:#FFFBEB;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .nav-links-container {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    color: #FFFBEB;
    width: 35px;
    height: 35px;
    padding-right: 10px;
    transition: all 0.3s ease;
  }

  .hamburger-menu:hover {
    color: #adaa9e;
  }
}
